apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  # Mejor dejar que Helm ponga el namespace con -n / --namespace [web:7][web:19]
  labels:
    app: {{ .Values.labels.app }}
    app.kubernetes.io/name: nginx
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.labels.app }}
  template:
    metadata:
      labels:
        app: {{ .Values.labels.app }}
    spec:
      containers:
        - name: nginx
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources: {{- toYaml .Values.resources | nindent 12 }}
